<a href="https://colab.research.google.com/github/kh31514/Python-Tutoring/blob/madeleine/1_dataTypes_variables_printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Data types are types of values

Python has 4 basic data types:

* Integers
* Floats
* Strings
* Booleans

# Integers

Integers are numbers without decimals. Integers can be both positive and negative.

1, -3, 500000, 0 are all examples of integers.

## Integer Operations

Here are some operations we can perform on integers

In [ ]:
1 + 2  # addition
1 - 2  # subtraction
1 * 2  # multiplication
1 / 2  # float division (x √∑ y with decimal)
1 // 2  # integer division (x √∑ y without decimal, rounds down)
7 % 3  # modulus (remainder of x √∑ y)
2**3  # powers/exponents

8

# Floats

Floats are numbers with decimals. Floats can be both positive and negative.

1.0, 3.1415, 0.1234 are all examples of floats.

## Float Operations

We can perform the same operations on integers and floats!

In [ ]:
1.0 + 2.0  # addition
1.0 - 2.0  # subtraction
1.0 * 2.0  # multiplication
1.0 / 2.0  # float division (x √∑ y with decimal)
1.0 // 2.0  # integer division (x √∑ y rounds down)
1.0 % 2.0  # modulus (remainder of x √∑ y)
2.0**3.0  # powers/exponents

8.0

# Think ü§î

When might we want to use integers? When might we want to use floats?

Would you use an integer or a float to measure the following things?
* Number of pets you have
* Cups of chocolate chips you need for a recipe
* Shoe size
* Number of stuffed animals you own
* Age

What happens when you add an integer and a float together? What data type is the result? What about other operations?

In [ ]:
1 * 2.0

2.0

# Strings

Strings are words. In Python we encolse strings in 'single quotes' or "double quotes"

In [ ]:
"This is an example of a string"
'Hello world!'

Emojis can be strings too!

In [ ]:
"üòÉ I'm a string too! üòÉ"

## String Operations

We can smush strings together through an operation called concatenation. The syntax for concatenation is the + symbol.

In [ ]:
"Hello " + "world!"

'Hello world!'

We can only concatenate strings with other strings. The following code will produce an error üòµ‚Äçüí´

In [ ]:
"I am " + 20 + "years old"

TypeError: ignored

# Booleans

A boolean has two possible values: `True` and `False`. Note that `True` and `False` are both capitalized. This is important!

## Boolean Operations

Booleans have three main operations: and, or, not.

Below is what we call a truth table:

![picture](https://qph.cf2.quoracdn.net/main-qimg-bc8139bb7744e28bd6a2512156cc3520)

Booleans and truth tables can be a little confusing, so let's walk through an example in English.

<blockquote>

Let A be the statement my eyes are blue (true).

Let B be the statment my hair is blonde (false).

Is it true that my eyes are blue *and* my hair is blonde?

Is it true that my eyes are blue *or* my hair is blonde?

</blockquote>

In [ ]:
True and False
True or False

False

# Checking Types

If we're ever unsure about the type of a value, we can use the following trick.

In [ ]:
type(1.0)
type(2)
type("hello")
type(True)

float

`str` is short for string, `int` is short for integer, and `bool` is short for boolean.

# Converting Between Data Types

What if I have the string `"2"` but I want to use it like an integer?

## String Conversion

In [ ]:
str(True)
str(2)
str(2.0)

'2.0'

## Integer Conversion

The integer representation of `True` is 1.

The integer representation of `False` is 0.

In [ ]:
int(True)
int(2.0)
int("2")

12

Strings must be a valid integer.

The following conversions will produce errors üòµ‚Äçüí´

In [ ]:
int("hello")
int("True")
int("1.0")

ValueError: ignored

## Float Conversion

The float representation of `True` is 1.0.

The float representation of `False` is 0.0.

In [ ]:
float(True)
float(2)
float("2")
float("2.0")

2.0

## Boolean Conversion

All non-zero integers and floats are converted to `True`.

All non-empty strings are converted to `True`.

In [ ]:
bool(2)
bool(2.0)
bool("")

False

# Printing

Printing is super easy in Python. Just use the following syntax (for any data type).

In [ ]:
print("Hello world")
print(1)
print(-0.12345)
print(True)

Hello world
1
-0.12345
True
True

If we want to print multiple things on the same line, we can separate them with a comma. The comma automatically adds a space between items.

In [ ]:
print("Hello world", 1, -0.12345, True)

Hello world 1 -0.12345 True

# Comments

Code is much easier to read when we add English explanations.

We can add single line comments using the `#` symbol.

We can add multi-line comments using `'''` before and after our block of text.

In [ ]:
# This is a single line comment

'''
This is a multi-line comment.
Look how I can continue writing here.
'''

On PC, you can use the keys Ctrl + / to quickly add single line comments.

# Variables

We can store and re-use our data by using variables.

We use the `=` symbol to indicate assignment. `=` in coding has a different meaning than `=` in math‚ùó

We put our variable name on the left side of the `=` and our data that we want to store on the right side. See below.

In [ ]:
age = 10
favColor = "blue"
happy = True

Now we can use our variable name instead of the data itself.

In [ ]:
print("I am " + str(age) + " years old")

I am 10 years old

## Variable Names

Variable names can include any letters, any numbers, and the underscore character (`_`).

Variables cannot begin with numbers (`1var` is an invalid name).

Variable names are case-sensitive (`age`, `Age` and `AGE` are three different variables)

In Python, we usually use `camelCase` or `snake_case` to make variable names easy to read.

# Think ü§î

Which of the following are good variable names? What kind of data does each variable store?

In [ ]:
favanimal = 'dog'
favAnimal2 = "cat"
3_fav_animal = "bunny"

num = 12
shoeSize = 7.5
athletic = True
_tall = "False"

# Practice üë®‚Äçüíª

1.   Make a variable to store your first name.
2.   Make another variable to store the number of pets you have.
3.   Use type convertion and concatenation to print the following sentence: `Hi my name is ___, and I have ___ pets`.

In [ ]:
# Write your code below

name= "Madeleine"
pets= 1
# print(type(int(pets)))
# print("and I have " + int(pets))
print("My name is " + str(name) + " and I have " + str(pets) + " pet" )

# More Practice üë®‚Äçüíª

1. Make a variable to store your favorite food.
2. Add a single line comment just for fun :)
3. Print the statement `My favorite food is ___`. Fill in the gap using the vairbale you created above.

In [ ]:
# Write your code below

fav_food= "mango" # made a variable called fav_food
print("My favorite food is " + str(fav_food))
print("My favorite food is " + fav_food)

My favorite food is mango
My favorite food is mango

# Updating Variables

Ages change over time. Luckily we can update our variable to reflect that!

In [ ]:
age = 20
age = age + 1

print(age)

21

We evaluate the right hand side first, and then store the new value in the variable.

Let's see a few more examples.

In [ ]:
var = "hello"
var = var + " world"
print(var)

num = 1.0
num = num / 2.0
print(num)

hello world
0.5

We can also use these shorcuts!

In [ ]:
var1 = "hello"
var1 = var1 + " world"
# is the same as
var2 = "hello"
var2 += " world"

num1 = 1.0
num1 = num1 / 2.0
# is the same as
num2 = 1.0
num2 /= 2.0

0.5

# Think ü§î

How could I increment a variable, `x`, by 2?

In [ ]:
x = 10
x = x + 2
x += 2
x

14

# User Input

Code is much more interesting when we can interact with the user.

For example, my age is not the same as your age; My name is not the same as your name.

Here's how we can get and store user input.

In [ ]:
name = input("What is your name?\n")
print("Hi " + name + "!")

What is your name?
Katie
Hi Katie!

Note the `\n` characters after `"What is your name?"`.

`\n` is called a newline character. It isn't necessary, but it makes our interface look much cleaner.

Here's what it looks like without the newline character:

In [ ]:
name = input("What is your name?")
print("Hi " + name + "!")

What is your name?iytuvuyg
Hi iytuvuyg!

You can also use `\t` which stands for tab. It is useful for indentation.

In [ ]:
name = input("What is your name?\t")
print("Hi " + name + "!")

What is your name?	jh bm,ng
Hi jh bm,ng !

‚ùóUser input is always a string‚ùó

If we want to store/use a different data type (integer, float, or boolean), we'll first have to use data type conversion from earlier.

In [ ]:
hoursWorked = input("How many hours did you work today?\n")
hourlyRate = input("How much money (in dollars) do you earn per hour?\n")

earnings = float(hoursWorked) * float(hourlyRate)

print("Congrats! You earned", earnings, "dollars today.")
# You could also print the same statment this way
# print("Congrats! You earned " + str(earnings) + " dollars today.")

How many hours did you work today?
7
How much money (in dollars) do you earn per hour?
7
<class 'str'>
Congrats! You earned 49.0 dollars today.
Congrats! You earned 49.0 dollars today.

# Practice üë®‚Äçüíª

1.   Ask the user for their favorite number.
2.   Add 5 to the number.
3.   Print the increased number to the screen (optionally with a short message).

In [ ]:
# Write your code below

number= input("What is your favorite number?\n")
number= int(number) + 5
print("your favorite number plus 5 is " + str(number))

What is your favorite number?
9
your favorite number plus 5 is 14

# More Practice üë®‚Äçüíª ~ Mad Libs!

1. In separate prompts, ask the user for a name, noun, and adjective.
2. Fill in and print the following sentence: `Dear ___, you are my favorite __. You are so ___.`

In [ ]:
# Write your code below

noun=input("name a noun?\n")
noun2=input("name another noun?\n")
adjative=input("name an adjative?\n")
print("Dear "+ (noun) +", you are my favorite " + (noun2) +". You are so "+ (adjative) +".")

name a noun?
Oscar
name another noun?
frog
name an adjative?
bad
Dear Oscar, you are my favorite frog. You are so bad.

# More More Practice

1. Ask the user for a noun.
2. Make the noun plural and print it (don't worry about irregular nouns that end in ch, sh).

In [ ]:
# Write your code below

noun=input("name a noun?\n")
noun= noun+"s"
print(noun)

name a noun?
dog
dogs

# Bonus: String Interpolation ü§©

Sometimes we want to include non-string data in a sentence.

For example, maybe we want to print the string "I am 5 feet tall and 7 inches" but 5 and 7 are integers stored in variables.

We could convert the integers to strings and use concatenation, or we could also use string interpolation.

In [ ]:
feet = 5
inches = 7
print("I am %i feet tall and %i inches" % (feet, inches))

I am 5 feet tall and 7 inches

We use `%i` as a placeholder to represent our integer and we specify what integer we want to use after the string.

We can also use `%f` as a placeholder for floats and `%s` for strings and booleans.

In [ ]:
name = "Katie"
print("Hello! My name is %s :)" % name)

blueEyes = True
print("It is %s that %s has blue eyes" % (blueEyes, name))

Hello! My name is Katie :)
It is True that Katie has blue eyes

# Practice üë®‚Äçüíª

Use string interpolation to fill in the following sentence with 3 adjectives to describe yourself: `I am ___, ___, and ___`.

In [ ]:
# Write your code below

adjative1="athletic"
adjative2="artistic"
adjative3="happy"
print("I am " + (adjative1) + "," + (adjative2) + ", and" + (adjative3) + ".")
print("I am %s, %s,and %s." %(adjative1 ,adjative2, adjative3))

I am athletic,artistic, andhappy.
I am athletic, artistic,and happy.

# Review üí™

Phew that was a lot of information. Here's what you should takeaway.

*   What are the 4 basic data types?
*   What operations can I use on each data type?
*   How can I convert between different data types?
*   How can I print information?
*   How can I store and re-use pieces of data?
*   How can I update variables?
*   How can I gather user input?

# Warm-Up 7/18

Repeat this practice from last time, except using string interpolation.

1. In separate prompts, ask the user for a name, noun, and adjective.
2. Fill in and print the following sentence: `Dear ___, you are my favorite __. You are so ___.`

In [3]:
# Write your code below

noun= input("name a noun\n")
noun2= input("name a second noun\n")
adjative= input("name a adjative\n")
print("Dear %s, you are my favorite %s. You are so %s." %(noun, noun2, adjative))

name a noun
Coco
name a second noun
cat
name a adjative
fluffy
Dear Coco, you are my favorite cat. You are so fluffy.

# More Practice Involving Numbers

1. Ask the user for 2 numbers
2. Add them together
3. Print the result

In [5]:
# Write your code below

number=input("give me a number\n")
number2=input("give me another number\n")
print(int(number) + int(number2))

give me a number
5
give me another number
3
8